body {
  background: #edf2f7;
}

.repo {
  margin: 30px;
  padding: 16px;
  text-align: left;
  background: #ebf2f8;
  font-family: "Poppins", sans-serif;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.repo:hover {
  box-shadow: 4px 16px 32px 4px rgba(0, 0, 0, 0.2);
  background: #d8e6f1;
}

.repos {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.title {
  text-align: center;
  font-family: "Source Code Pro", cursive;
}

@media (max-width: 700px) {
  .repos {
    width: 100%;
  }
}
